.Navigation {
    display: flex;
    justify-content: center; 
}

.navigation__list {
    display:flex;
    list-style: none;
    padding: 0; 
}

.navigation__list li {
    margin-right: 10px;
}

.navigation__list li:last-child {
    margin-right: 0;
}